# all channels fees according to ratio to auto-balance
# fees are updated when fee delta >= 10

[default]
strategy = static
base_fee_ppm = 1000
min_fee_ppm = 100
max_fee_ppm = 300
min_fee_ppm_delta = 10

[discourage-routing-out-of-balance]
chan.max_ratio = 0.1
chan.min_capacity = 1000000
strategy = proportional
min_base_fee_msat = 10000
max_base_fee_msat = 100000
min_fee_ppm = 500
max_fee_ppm = 5000

[encourage-routing-to-balance]
chan.min_ratio = 0.9
chan.min_capacity = 1000000
strategy = proportional
max_base_fee_msat = 1000
min_base_fee_msat = 1
max_fee_ppm = 300
min_fee_ppm = 1

[balanced]
chan.min_capacity = 1000000
chan.min_ratio = 0.4
chan.max_ratio = 0.8
strategy = proportional
max_base_fee_msat = 1000
min_base_fee_msat = 500
max_fee_ppm = 300
min_fee_ppm = 200

[small-discourage-routing-out-of-balance]
chan.max_capacity = 999999
chan.max_ratio = 0.3
strategy = static
base_fee_msat = 5000
fee_ppm = 500

[small-encourage-routing-to-balance]
chan.max_capacity = 999999
chan.min_ratio = 0.9
strategy = static
base_fee_msat = 0
fee_ppm = 2

[small-balanced]
chan.max_capacity = 999999
chan.min_ratio = 0.4
chan.max_ratio = 0.8
strategy = static
base_fee_msat = 1000
fee_ppm = 250
